/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/build/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/build/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_01.Smileys/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_07.Dictionary/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_04.ThingSuitcaseAndContainer/nbproject/private/