/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/build/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/build/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_01.Smileys/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_07.Dictionary/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_04.ThingSuitcaseAndContainer/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/build/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/build/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_01.Smileys/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_04.ThingSuitcaseAndContainer/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_07.Dictionary/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/build/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/build/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week6-101.Library/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week6-100.NightSky/nbproject/private/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week6-101.Library/build/
/TMCProjects/mooc-2013-OOProgrammingWithJava-PART1/week6-100.NightSky/build/